<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Login</title>
</head>
<body>
    <h1>Add New Login</h1>
    <form action="/add_object" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <textarea id="password" name="password"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
